.wp-caption {
	margin-bottom: 1em * $font__line-height-body;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		@include body-block-margin(0.75);
	}
}

.wp-caption-text {
	// text-align: left;
	margin-left: 1em * $font__line-height-body;
}
