.widget
	+body-block-margin()
	/* Make sure select elements fit in widgets. */
	select
		max-width: 100%
	&-title
    +trailer(0.25)


.footer-widget
  // +body-block-margin()
  text-align: center
  ul
    padding: 0
  .genericon
    font-size: 2em
