.main-navigation {
	// font-size: 1rem;
	clear: both;
	display: block;

	ul {
		display: none;
		list-style: none;
		padding-left: 0;
		ul {
			display: none;
			margin-left: 0.8em;
		}
	}
	li {
		position: relative;
	}
	a {
		position: relative;
		display: block;
		padding: 0.8em 1em;
		font-weight: 400;
		text-decoration: none;
		line-height: 1.6;
		color: white;
	}
	&.toggled {
		position: fixed;
		bottom: 0;
		padding-bottom: 1.6em;
		z-index: 50;
		ul {
			max-height: calc(100vh - 8em);
			overflow-y: auto;
			ul {
				display: none;
				&.toggled-on {
					display: block;
					> ul {
						display: block;
					}
				}
			}
		}
	}
	a {
		&:hover, &:focus {
			background: black;
			color: lightgray;
		}
		border-bottom: 1px solid white;
	}
	ul {
		ul li:lastchild a {
			border-bottom: 1px solid white;
		}
		li:last-child a {
			border-bottom: none;
		}
		.toggled-on {
			display: block;
		}
	}
	li {
		border-top: 1px solid #eaeaea;
		border-top: 1px solid rgba(51, 51, 51, 0.1);
		position: relative;
	}
	.current-menu-item > a, .current-menu-ancestor > a, .current_page_item > a, .current_page_ancestor > a {
		font-weight: 700;
	}
	.nav-menu > {
		ul > li:first-child, li:first-child {
			border-top: 0;
		}
	}
	.menu-item-has-children > a, .page_item_has_children > a {
		padding-right: 48px;
	}
}

.no-js .main-navigation ul ul {
	display: block;
}

.nav-menu {
	background: black;
}

.dropdown-toggle {
	text-align: center;
	font-family: 'FontAwesome';
	background-color: black;
	border: 0;
	box-sizing: content-box;
	content: "";
	padding: 0;
	position: absolute;
	text-transform: lowercase;
	/* Stop screen readers to read the text as capital letters */
	top: 1em;
	right: 0.6em;
	width: 2em;
	height: 2em;
	&:after {
		color: white;
		content: "\f078";
		position: relative;
		top: 0;
		left: 1px;
		width: 42px;
	}
	&:hover {
		background-color: black;
	}
	&:focus {
		background-color: black;
		outline: 1px solid #c1c1c1;
		outline: 1px solid rgba(51, 51, 51, 0.3);
	}
	&.toggle-on:after {
		content: "\f077";
	}
}

/* Small menu. */

.menu-toggle, .main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	position: fixed;
	z-index: 100;
	bottom: 1em;
	transition: all ease-out 250ms;
	&.hide {
		bottom: -2.5em;
	}
}

.toggled .menu-toggle.hide {
	bottom: 1em;
}

.menu-toggle {
	&:hover, &:focus {
		text-decoration: underline;
	}
}

@media screen and (min-width: 50em) {
	.main-navigation {
		width: 100%;
		flex: 2 0 66%;
		display: flex;
		justify-content: flex-end;
	}
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

/* Hovering menu */

.main-navigation.toggled {
	position: fixed;
	bottom: 0;
	// padding: 1em;
	z-index: 1;
	ul {
		max-height: calc(100vh - 8em);
		overflow-y: auto;
		ul {
			display: none;
			&.toggled-on {
				display: block;
				> ul {
					display: block;
				}
			}
		}
	}
}

/* Horizontal menu on wide screens */
@media screen and (min-width: 50em) {
	/* Position the menu in the header */
	.main-navigation {
		position: relative;
		min-height: 3.5em;
		max-width: 58em;
		margin: 0 auto;
		color: black;
		&.toggled {
			position: relative;
			min-height: 3.5em;
			max-width: 58em;
			margin: 0 auto;
			color: black;
		}
	}
	.nav-menu {
		margin: 0;
		padding: .3em 0 0 0;
		background-color: transparent;
	}
	.main-navigation {
		ul {
			max-height: none;
			padding-left: 0;
			text-align: center;
		}
		&.toggled ul {
			max-height: none;
			padding-left: 0;
			text-align: center;
			overflow-y: visible;
		}
		li {
			display: inline-block;
			border: none;
		}
		ul ul {
			outline: 1px solid #333;
		}
		li li {
			display: block;
			text-align: left;
		}
		a {
			border-bottom: none;
			color: inherit;
		}
		ul ul li:last-child a {
			color: white;
		}
		a {
			&:hover, &:focus {
				background: transparent;
				color: black;
				text-decoration: underline;
				outline: solid 1px #b3b3b3;
			}
		}
		li li a {
			&:hover, &:focus {
				// background: #333;
				color: #000;
				text-decoration: underline;
			}
		}
		ul ul {
			&.toggled-on {
				position: absolute;
				width: 12em;
				display: block;
				z-index: 10;
				margin-left: 0;
				background: #000;
			}
			ul {
				&.toggled-on {
					position: relative;
				}
				a {
					padding-left: 2em;
				}
			}
		}
	}
	/* Display the menu items in a horizontal order */
	/* Add an outline to the drop-down menus */
	/* Left-align drop-down menu items */
	/* Add an outline on hovered and focused menu items */
	/* Create hover and focus contrast on drop-down items */
	/* Position drop-down menus absolutely */
	/* Indent 3rd level drop-down menus */
	/* Simplify the drop-down toggle */
	.dropdown-toggle {
		border: none;
		// background: $color__gray_92p;
		&::after {
			// line-height: 27px;
			// width: 27px;

		}
	}
}

.site-main {
	.comment-navigation, .posts-navigation, .post-navigation {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
}

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
