.site-content {
	// display: flex;
	// justify-content: space-around;
	// flex-direction: column;
	// margin-top: 3em * $font__line-height-body
}
.content-area {
	// margin: 0 (1em * $font__line-height-body) (1em * $font__line-height-body);
}

.site-main {}

.site-content .widget-area {
	overflow: hidden;
	margin: 0 (1em * $font__line-height-body) (1em * $font__line-height-body);
}

.site-footer {
	clear: both;
	width: $size__site-main;
	padding: $font__line-height-body * 1rem;
	background: $color__gray_92p;
	color: $color__gray_18p;
	a {
		color: inherit;
		&:visited{
			color: $color__gray_18p
		}
	}

}
