.site-content {}
.content-area {}
.content-margin {
	@include block-center();
	margin: {
		left: (0.5rem * $font__line-height-body);
		right: (0.5rem * $font__line-height-body);
	}
}

.site-main {}

.site-content .widget-area {
	overflow: hidden;
	margin: 0 (1em * $font__line-height-body) ( 1em  * $font__line-height-body);
}

.site-footer {
	clear: both;
	width: $size__site-main;
	padding: $font__line-height-body * 1rem;
	background: $color__gray_92p;
	color: $color__gray_18p;
	a {
		color: inherit;
		&:visited{
			color: $color__gray_18p
		}
	}

}

.wrapper {
	@include wrapper();
	@include block-center();
}

@media screen and (min-width: $res__break-point-1) {
	.site-content {
		// width: 40em
		max-width: 100vw;
		margin: 0 auto;
	}
}
