p {
	@include body-block-margin();
	word-wrap: break-word;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote, address {
	@include body-block-margin();
}

pre {
	background: $color__background-pre;
	font-family: $font__fam_pre;
	@include font-size(0.875);
	line-height: $font__line-height-pre;
  color: $color__gray_18p;
	margin-bottom: 1em * $font__line-height-pre;
	max-width: 100%;
	overflow: auto;
	padding: 1em * $font__line-height-pre;
}

code, kbd, tt, var {
	font-family: $font__fam_code;
	@include font-size(0.875);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	@include font-size(1.25);
}
