h1, h2, h3, h4, h5, h6
  letter-spacing: 0.65px
  margin: ($font__line-height-body - 1 * 1em ) 0 0
  font-family: $font__fam_header
  font-weight: 500
  letter-spacing: 0.65px
  clear: both

h1
  +font-size(1.75)
  line-height: 1.057692308

h2
  +font-size(1.625)
  line-height: 1.022727273

h3
  +font-size(1.5)
  line-height: 1.022727273

h4
  +font-size(1.375)
  line-height: 1.25

h5
  +font-size(1.25)
  line-height: 1.111111111

h6
  +font-size(1.125)
  line-height: $font__line-height-body

.header-underline
  display: inline-block
  border-bottom: 0.125em solid $color__text-screen
  padding:
    right: 1em
    right: 1ch
    bottom: 0.125rem
