h1, h2, h3, h4, h5, h6 {}
h1 {
  @include font-size(2.5);
  line-height: 45px;
}
h2 {
  @include font-size(2);
  line-height: 45px;
}
h3 {
  @include font-size(1.75);
  line-height: 45px;
}
h4 {
  @include font-size(1.5);
  line-height: 45px;
}
h5 {
  @include font-size(1.25);
  line-height: 22.5px;
}
h6 {
  @include font-size(1);
  line-height: 22.5px;
}
.site-title {}
