body,
button,
input,
select,
textarea {
	text-size-adjust: 100%;
	color: $color__text-main;
	font-family: $font__fam-main;
	font-size: $font__size_main;
	font-size: calc(14px + 0.5vw);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";
