// header
.site
  &-header
    padding: ($font__line-height-body * 0.5em)
    background: #ffffff
    & > .wrapper
      @media screen and (min-width: $res__break-point-3)
        display: flex
        align-items: baseline
        justify-content: space-between

    a
      text-decoration: none
      // color: inherit
  &-branding
    // @extend %wrapper
    // @extend %block-center
    flex: 1 0 33%
  &-title
    @extend h1

  &-description
    margin: ($font__line-height-body - 1em) 0 0
    a
      color: $color__gray_18p
      &:visited
        font-weight: 200
      &:hover,
      &:focus,
      &:active
        color: #ffffff
      &:focus
        outline: thin dotted
      &:hover,
      &:active
        outline: 0
