// header
.site
  &-header
    padding: ($font__line-height-body * 0.5em)
    background: #ffffff
    a
      text-decoration: none
      color: inherit
  &-branding
    box-sizing: border-box
    // flex: 1 0 auto
  &-title
    @extend h1

  &-description
    margin: ($font__line-height-body - 1em) 0 0
    a
      color: $color__gray_18p
      &:visited
        font-weight: 200
      &:hover,
      &:focus,
      &:active
        color: #ffffff
      &:focus
        outline: thin dotted
      &:hover,
      &:active
        outline: 0
