.entry
  &-header
    position: relative
    +trailer(0.25)
  &-title
    z-index: 0
    +trailer(0.25)
    .single &
      margin-left: 1rem * $font__line-height-body
      margin-right: 1rem * $font__line-height-body
      +trailer(2)
  &-content
    flex-direction: column
  &-thumbnail
    &-loop
      width: 100vw
      margin: 0 0 0 (-1em * $font__line-height-body)
      flex: 1 0 30%
  &-meta
  &-footer
    margin: 0 (1rem * $font__line-height-body)
    +trailer()
    .entry-meta
      +trailer()
      justify-content: space-around
      > .flex
        +trailer()
      > span
        padding: 0 2ch
        &:first-of-type
          padding-left: 0
        &:last-of-type
          padding-right: 0
