.sticky
  .entry-meta
    position: relative
    .entry-title
      position: absolute
      bottom: 3rem * $font__line-height-body
      padding: 1rem 2rem
      background-color: $color__background-body
      right: 0

.entry
  &-header
    +body-block-margin(0.5)
    position: relative
    z-index: 0
    max-height: 80vw

  &-title
    +font-size(1.25)
    a
      hyphens: none
      text-decoration: none
  &-content
  &-thumbnail-loop
    +aspect-ratio(16, 9)
    width: 100%
  &-meta
    +body-block-margin()


.entry-footer
  +body-block-margin()
  // +rhythm__padding(1, 0.5, 1, 0.5)
  background: $color__gray_50p
  color: $color__background-screen
  > .wrapper
    +body-block-margin()
  a
    color: inherit
    hyphens: none
  .tags-links, .cat-links
    text-transform: capitalize

  .entry-meta
    +font-size(0.875)
    +trailer()
    justify-content: space-around
    > .flex
      +trailer()
    > span
      padding: 0 2ch
      &:first-of-type
        padding-left: 0
      &:last-of-type
        padding-right: 0


.home
  article
    line-height: 0
  h2.entry-title
    background: rgba(255,255,255, 0.7)
    position: absolute
    bottom: 0
    left: 0
    padding: (0.5em * $font__line-height-body)
    width: 100%
  .entry-header
    margin: 0.25rem
    &-nav
      ul
        padding: 0
        list-style-type: none
        display: flex
        flex-flow: row wrap
        justify-content: space-between

@import "project"
