@import "sticky";
@import "entry";

.hentry {
  // margin: $font__line-height-body * 1em;
  @include trailer(6);
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.single .entry-content,
.entry-summary {
  padding-bottom: 1em * $font__line-height-body;
  @include trailer(1);
  border-bottom: 1px solid $color__gray_18p;
}



.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
article {
    width: 100%;
    // margin: 0 auto 1.25rem 0;
    @include trailer(); 
}

.single p {
  max-width: 66ch;
}
.hero {
  @include aspect-ratio(16, 9);
  width: 100%;
  background-size: cover;
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: center;
  .entry-title {
    @include rhythm__padding(1, 2, 1, 2);
    background-color: fade-out($color__gray_18p, 0.30);
    border: 2px solid;
  }

}
