@import "entry";

// .hentry {}

.byline,
.updated:not(.published){
	display: block;
}

.single .byline, .group-blog .byline {
	display: inline;
}
.page-title {}
.page-header {
  @include trailer();
}
.page-content, .entry-summary {
	@include block-center();
	@include wrapper();
	@include trailer();
}

.page-links {
	clear: both;
	@include trailer();
}

.post {
  @include trailer(3);
}
.single {
  .content-area {
    margin: 0;
  }
}

.hero {
  @include aspect-ratio(16, 9);
  width: 100%;
}

.search-results article.hentry {
	@include trailer(2);
}
