// BEM
// block
// element
// modifier

.sticky
  +trailer()
  max-width: 100%
  .entry-meta
    position: relative
    .entry-title
      position: absolute
      bottom: 2rem
      padding: 1rem 2rem
      background-color: $color__background-body
      right: 0
