// BEM
// block
// element
// modifier

.sticky
  .entry-meta
    position: relative
    .entry-title
      position: absolute
      bottom: 3rem * $font__line-height-body
      padding: 1rem 2rem
      background-color: $color__background-body
      right: 0
