$colors__theme:(
	default: lighten(#000, 46.7%),
	primary: darken(#85899B, 6.5%),
	success: #518251,
	info: rgb(6, 78, 94),
	warning: rgb(166, 151, 6),
	danger: #830c39,
);

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #334040;
$color__background-pre: #414040;
$color__background-ins: #fff9c0;

$color__text-main: #222222;

$color__text-screen: #790000;
$color__text-input: #666;
$color__text-input-focus: #111;

// $color__link: #322;
$color__link: $color__text-main;
$color__link-visited: #322;
$color__link-hover: #322;


$color__gray_18p: darken(#ffffff, 18%);
$color__gray_50p: darken(#ffffff, 50%);
$color__gray_92p: darken(#ffffff, 92%);

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
