$size__site-main: 100%;
$size__site-sidebar: 30%;

$res__break-point-1: 30em;
$res__break-point-2: 40em;
$res__break-point-3: 50em;
$res__break-point-4: 60em;

@mixin wrapper() {
	max-width: 100%;
	@media screen and (min-width: $res__break-point-1){
		width: $res__break-point-1 - 2;
	}
	@media screen and (min-width: $res__break-point-2){
		width: $res__break-point-1;
	}
	@media screen and (min-width: $res__break-point-3){
		width: $res__break-point-2;
	}
	@media screen and (min-width: $res__break-point-4){
		width: $res__break-point-3;
	}
}
%wrapper {
@include wrapper()
}

%block-center {
	margin:{
		left: auto;
		right: auto;
	}
}


@mixin block-center() {
	@media screen and (min-width: $res__break-point-1){
		margin:{
			left: auto;
			right: auto;
		}
	}

}
