$font__size_main: 14px;
$font__size_main_med: 18px;
$font__size_main_lrg: 20px;

$font__fam_main: "proxima nova", "source sans pro", helvetica, arial, roboto, sans-serif;
$font__fam_code: "source code pro", Courier, monospace;
$font__fam_pre:  "source code pro", Courier, monospace;
$font__line-height-body: 1.6;
$font__line-height-pre: 1.5;

$font__fam_header: brandon-grotesque, "proxima nova", "source sans pro", helvetica, arial, roboto, sans-serif;;
