$font__size_main: 18px;
$font__size_main_sm: 15px;
$font__size_main_md: 20px;
$font__fam_main: "proxima nova", "open sans pro", helvetica, arial, roboto, sans-serif;
$font__code: "source code pro", Courier, monospace;
$font__pre:  "source code pro", Courier, monospace;
$font__line-height-body: 1.25;
$font__line-height-pre: 1.5;

$font__header: "brothers", "proxima nova", "open sans pro", helvetica, arial, roboto, sans-serif;;
