$button-color-map: (
	default: lighten(#000, 46.7%),
	primary: rgb(32, 32, 42),
	success: rgb(92, 184, 92),
	info: rgb(23, 190, 229),
	warning: rgb(224, 204, 0),
	danger: rgb(173, 17, 76),
);

@each $key, $value in $button-color-map {
  .btn-#{$key} {
    background-color: $value;
    color: #ffffff;
    text-shadow: 1px 1px #000;
		&:hover, &:active, &:focus {
			background: lighten($value, 10%);
		}
	}
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
	@include font-size(0.75);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	border: 0;
}
